*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Arka plan rengi, isteğinize göre ayarlayabilirsiniz */
    display: flex;
    justify-content: center;

}

.navbar {
    background-color: transparent;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Diğer içeriklerin üzerine çıkmasını sağlar */
    transition: background-color 0.5s ease; /* Geçiş efekti */
}

.navbar.scrolled {
    background-color: #ffffff; /* Navbar scroll edildiğinde arka plan rengi */
    box-shadow: 0 2px 6px rgba(0,0,0,0.4); /* Gölgelendirme efekti */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 1.5em;
    color: #d8097e;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 15px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #d8097e;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #e66cb1;
}


#Home-G{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    overflow: hidden;
    position: relative;
}

.homeTXT {
    position: absolute;
    left: -100%;
    animation: slideInFromLeft 1.2s forwards ;
}
.homePNG {
    position: absolute;
    right: -100%;
    animation: slideInFromRight 1.2s forwards ;
}
@keyframes slideInFromLeft {
    to {
        left: 0;
    }
}
@keyframes slideInFromRight {
    to {
        right: 0;
    }
}


.one {
    max-width: 80rem;
    margin: 70px 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.icerik {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.item {
    flex: 1 1 calc(50% - 20px); /* İki sütunlu yapı */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    
}

.item:hover{
    margin: 10px;
    padding: 24px;
    transition-duration: 0.2s;
    box-shadow: 0 0 30px rgba(216,9,126, 0.5);
}

.item:not(:hover){
    transition-duration: 0.2s;
}

.item img {
    width: 100%;
    border-radius: 8px;
}

.item h2 {
    margin-top: 0;
}

.item p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .item {
        flex: 1 1 100%; /* Tek sütunlu yapı */
    }
}


#About{
    margin-top: 40px;
    padding: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(35, 35, 35);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    color: white;
}

#About p{
    margin: 0px;
}

#About a{
    color: rgb(126, 126, 126);
    margin: 0px 10px;
}

#About a:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
}

#About a :not(:hover){
    transition-duration: 0.4s;
}

.navbarlogo{
    width: 35px;
    margin-right: 10px;
    padding-bottom: 5px;
}


/* içerik ve resim düzenlemesi */
.i1 img{

}
.i2 img{
    
}
.i3 img{
    object-fit: cover;
}
.i4 img{
    width: 80%;
}
.i5 img{
    
}
.i6 img{
    
}