#Home-G{
    height: 22%;
    display: block;
    margin-top: 70px;
}

.homeTXT, .homePNG{
    position: static;
    top: 250px;
}

.homePNG{
    padding-left: 170px;
}

.one{
    max-width: 35rem;
}
