.item {
    max-width: 517;   
}

.container{
    font-size: small;
}

#Home-G{
    height: 18%;
    display: block;
    margin-top: 70px;
}

.homeTXT, .homePNG{
    position: static;
    top: 250px;
}

.homePNG{
    padding-left: 0px;
}
.homePNG img{
    padding-left: 0px;
    width: 220px;
}

.one{
    max-width: 15rem;
}

.homeTXT{
    margin: 10px;
}
.homePNG h1,h3,p{
    font-size: small;
}

.item {
    flex: 1 1 100%; /* Tek sütunlu yapı */
    max-width: 100%; /* Kutuların genişliğini ekrana göre ayarla */
    text-align: center; /* Metni ortala */
}

.item img {
    display: block; /* Resmi blok olarak ayarla */
    margin: 0 auto; /* Resmi yatayda ortala */
}