.item {
    max-width: 517;   
}

#Home-G{
    height: 18%;
    display: block;
    margin-top: 70px;
}

.homeTXT, .homePNG{
    position: static;
    top: 250px;
}

.homePNG{
    padding-left: 80px;
}

.homeTXT{
    margin: 10px;
}

.item {
    flex: 1 1 100%; /* Tek sütunlu yapı */
    max-width: 100%; /* Kutuların genişliğini ekrana göre ayarla */
    text-align: center; /* Metni ortala */
}

.item img {
    display: block; /* Resmi blok olarak ayarla */
    margin: 0 auto; /* Resmi yatayda ortala */
}